
spring:
  application:
    name: alert-service
  profiles:
    active: dev

  # Mail configuration
  mail:
    host: smtp.gmail.com
    port: 587
    username: houarimehdi7@gmail.com
    password: nnoivyxhebwhdhye
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
  port: 8088
  error:
    include-message: always
    include-binding-errors: always
